In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sqlalchemy import create_engine
import pandas.io.sql as psql

DB_NAME = 'postgres'
DB_USER = 'postgres'
DB_HOST = 'maker.clz4w9qelxfy.us-east-1.rds.amazonaws.com'
DB_PASSWORD = 'Hjp6MKSM6atRbgzgzpsis4P9k8aA'
DB_PORT = '5432'

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [2]:
TABLE_NAME = 'dai_2021_v2'

In [5]:
dai = psql.read_sql(
    f"SELECT address, num_tx, smart_contract, origin FROM {TABLE_NAME}", 
    engine.connect()
)

In [7]:
dai.head()

,address,num_tx,smart_contract,origin
0,0xd56b006346576ac8c6077698151d19bec622fcc3,2,False,wallet
1,0xe592427a0aece92de3edee1f18e0157c05861564,227225,True,SwapRouter
2,0x680388176be9e88d2b0dd235ef6c0f80107068f8,2,False,wallet
3,0x6d1a89e965678eb0a21cf8c7dbbb0e52d3e9f408,77,False,wallet
4,0x503828976d22510aad0201ac7ec88293211d23da,140379,False,exchange

In [8]:
dai.shape[0]

810755

In [9]:
dai['address'].nunique(), dai['address'].str.lower().nunique()

(810755, 810755)

In [13]:
dai['smart_contract'] = dai['smart_contract'].fillna(False)

In [14]:
dai.to_csv('dai_tx_2021.csv', index=False)

## Raw Transactions for timeseries

In [24]:
ts_hash = psql.read_sql(
    "SELECT timestamp, hash FROM txes",
    engine.connect()
)

In [25]:
ts_hash.head()

                  timestamp                                               hash
0 2022-03-06 06:26:10+00:00  0x4a5febb2d156d356c2e27a70337ceee5ffc8c0dcd704...
1 2022-03-06 06:26:10+00:00  0x4943b5e03e1be6d968b25b92f32fa06146801c5b673e...
2 2022-03-06 06:26:10+00:00  0x86489ee3a092d7f47373ae1946ebaffe77242cb0e646...
3 2022-03-06 06:26:10+00:00  0x387336a0d71948ddad0525e4d5f670882e3234b9f0b5...
4 2022-03-06 06:26:10+00:00  0x78bca0b175794abedfc6fbf4ba939cf8ae59982d1637...

In [26]:
ts_hash.to_csv('ts_hash.csv')